body {
    margin: 12px;
    background-color: #333333;
    /* transition on change */
    opacity: 1;
    transition: opacity 3s;
  }
  
  body.blackScreen {
    opacity: 0;
    transition: none;
  }
  
  #wrapper {
    background-color: #cca831;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
  }